#copyright.docs-footer.container.grid-lg
  p
    a(href='https://github.com/picturepan2/spectre' target='_blank') GitHub
    |  ·
    a(href='https://twitter.com/spectrecss' target='_blank')  Twitter
    |  · Version
    span.version
  p
    | Designed and built with
    span.text-error &hearts;
    |  by
    a(href='https://twitter.com/picturepan2' target='_blank') Yan Zhu
    |  and modified for night by
    a(href='https://github.com/kingajax/' target='_blank') kingajax
    | . Licensed under the
    a(href='https://github.com/kingajax/spectre-dark/blob/master/LICENSE' target='_blank')  MIT License
    | .
